.slide {
  display: flex;
  justify-content: center;
  transition: .3s;
  transform: scale(.8);
  pointer-events: none;
  user-select: none;
  position: relative;
  &.active {
    transform: scale(1);
    z-index: 10;
    pointer-events: initial;
    user-select: initial;
  }
}

.slide-wrapper {
  width: 320px;
  height: 530px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  
  @media (max-width: 374px) {
    width: 300px;
    height: 480px;
  }
}

.slide__header {
  padding: 8px 8px 13px;
  border-bottom: 1px solid #ccc;
}

.slide__user {
  padding: 12px 4px 0;
}

.slide__body {
  padding: 20px 15px;
  flex: 1;
  overflow: auto;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  height: 100%;
}

.info {
  height: 100%;
}

.slide__footer {
  border-top: 1px solid #ccc;
  padding: 24px 0 32px;
  display: flex;
  justify-content: center;
}

.icon {
  display: block;
  transition: .2s;
  &:hover {
    color: #31AE54;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--grey);
  border: 2px solid #000;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);

  &-prev {
    left: -58px;

    .icon {
      transform: rotate(.5turn);
    }
  }

  &-next {
    right: -58px;
  }

  @media (max-width: 480px) {
    &-prev {
      left: -15px;
    }
  
    &-next {
      right: -15px;
    }
  }
}