.app-feed {
  padding: 32px 0;
}

.stories {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 32px;
  &::-webkit-scrollbar { 
    width: 0px;
  }
}

.stories__item {
  cursor: pointer;
}

.app-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding: 20px 0;
}

.feeds__item {
  margin-bottom: 24px;
}