.story {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  & .user__photo {
    margin-bottom: 5px;
  }
}

.feed {
  display: flex;
  align-items: center;
  margin-right: 10px;
  & .user__photo {
    margin-right: 14px;
  }
  & .name {
    font-weight: 700;
  }
}