.app-header {
  padding: 50px 0;
}

.app-feed {
  margin-bottom: 30px;
}

.stories {
  display: flex;
  overflow: auto;
  padding: 7px;
  margin: 0 -15px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar { 
    width: 0px;
  }
}

.stories__item {
  padding: 0 15px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.app-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding: 20px 0;
}