.app-header {
  padding: 50px 0;

  &.light {
    background-color: #fafafa;
  }
  &.dark {
    background-color: #101010;
  }
}

.app-feed {
  margin-bottom: 30px;
}

.stories {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 7px;
  margin: 0 -15px;
}

.stories__item {
  padding: 0 15px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.app-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding: 20px 0;
}