.app-header {
  padding: 50px 0;
  background: #FAFAFA;
}

.app-feed {
  margin-bottom: 30px;
}

.stories {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.stories__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}