.slide {
  width: 375px;
  height: 667;
  background-color: #fff;
  border-radius: 8px;
}

.slide__header {
  padding: 8px 8px 13px;
  border-bottom: 1px solid #ccc;
}

.slide__user {
  padding: 12px 4px 0;
}

.slide__body {
  padding: 20px 15px;
}

.slide__pic {
  width: 300px;
  height: 200px;
  border-radius: 6px;
  overflow: hidden;
  margin: 0 auto 24px;
}

.slide__text {
  color: #404040;

  p {
    margin-bottom: 14px;
  }
}

.slide__footer {
  border-top: 1px solid #ccc;
  padding: 24px 0 32px;
  display: flex;
  justify-content: center;
}