.toggler__btn {
  display: inline-flex;
  align-items: center;
  padding: 0;

  .toggler__icon {
    width: 10px;
  }

  &.active {
    .toggler__icon {
      transform: rotate(180deg);
    }
  }
}

.toggler__text {
  margin-right: 5px;
}

   