.btn {
  width: 270px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #31AE54;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border-radius: 5px;
}